<ion-header>
  <ion-toolbar>
    <center>

    <ion-title>Iniciar Sesion</ion-title>
  </center>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <br>
      <ion-col>
        <ion-button type="submit" color="secondary" (click)="onLogin(email, password)" expand="block">Iniciar Sesión</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="ion-text-end">
          <a routerLink="/forgot-password">¿Se te olvidó tu contraseña? </a>
        </p>
      </ion-col>
    </ion-row>
    <b>
    <span class="center-span"> O </span>
  </b>
    <ion-row>
      <ion-col>
        <center>

        <ion-button type="submit" color="danger" expand="block" (click)="onLoginGoogle()" 
          >Iniciar Sesión con Google
        </ion-button>
      </center>
      </ion-col>
    </ion-row>
  </form>
  <ion-row>
    <ion-col>
      <p class="ion-text-end">
        <a routerLink="/register">Crear una cuenta </a>
      </p>
    </ion-col>
  </ion-row>
</ion-content>
