<ion-app>
  <!-- INICIO menu -->
  <ion-menu side="start" menuId="first" contentId="main">
   <ion-header>
      <ion-toolbar >
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <img class="icon" src="assets/icon/bus.png" alt="">
      
      <ion-list>
        <ion-item [routerLink]="['/home']" >Comunicados</ion-item>
        <ion-item [routerLink]="['/publicar']" >Publicar</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-menu side="end" menuId="second" contentId="main1">
    <ion-header>
       <ion-toolbar >
       </ion-toolbar>
     </ion-header>
   
     <ion-content>
      <img class="icon" src="assets/icon/candado.png" alt="">
       <ion-list>
         <ion-item (click)="onLogout() ">Cerrar Sesion</ion-item>
       </ion-list>
     </ion-content>
   </ion-menu>
   <ion-router-outlet id="main1"></ion-router-outlet>

</ion-app>
