ion-toolbar{
    --background: #7ed957; 
  
 
}
 
.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 80%;
    margin-top: 5%;
  }
  
ion-icon{
    font-size: 60%;
    margin-left: 40%;
}