ion-toolbar{
  --background: #7ed957; 

}
div{
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

ion-button{
  text-align: center;
  --background: #7ed957;

}
.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 80%;
}