<ion-header>
  <ion-toolbar>
    <ion-title>Has olvidado tu contraseña?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <div>
      <img class="icon" src="assets/icon/pregunta.png" alt="">
    <ion-item lines="full">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onResetPassword(email)" expand="block">Restablecer Contraseña</ion-button>
      </ion-col>
    </ion-row>
  </div>
  <ion-row>
    <ion-col>
      <ion-text color="dark">
        <p routerLink="/login" >Iniciar Sesion</p>
      </ion-text>
    </ion-col>
  </ion-row>
  </form>
</ion-content>
